.form-card {
  width: 300px;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: inline-block;
}

.submit-btn {
  width: 60px;
  height: 25px;
}

.error {
  color: red;
}