.form-card {
  width: 300px;
  height: auto;
  border: 4px solid indigo;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}

input {
  background-color: lightgreen;
}

select {
  background-color: lightgreen;
}

option {
  background-color: lightgreen;
}

label {
  display: inline-block;
}

.submit-btn {
  width: 60px;
  height: 25px;
}

.error {
  color: red;
}
