.menu {
  display: flex;
  border: 5px solid black;
  border-radius: 20px;
  width: 10%;
  margin-bottom: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: -45px;
}

.menu-list__item {
  text-decoration: none;
  color: indigo;
  font-weight: bold;
}

.active {
  text-decoration: underline;
  color:mediumspringgreen
}

.hidden {
  display: none;
}